@model IEnumerable<ProjetGED.Models.DocumentPrivilege>

@*change id name*@
@using (Html.BeginForm("New", "DocumentPrivilege", method: FormMethod.Post, htmlAttributes: new { id = "privilege-form" }))
{

    <div class="text-danger">
        @Html.ValidationMessage("NewUserId")
    </div>

    if (Model != null)
    {
        if (Model.Count() == 0)
        {
            <p>aucun utilisateur n'est affecter a ce document</p>
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">UserName</th>
                            <th scope="col">Lecture</th>
                            <th scope="col">Modification</th>
                            <th scope="col">Téléchargement</th>
                            <th scope="col">Modifier</th>
                            <th scope="col">Annuler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var documentPrivilege in Model)
                        {
                            <tr>
                                @Html.Hidden("hiddenId", documentPrivilege.Author.Id.ToString())
                                <td>@documentPrivilege.Author.Email</td>
                                <td>@Html.CheckBox("r", documentPrivilege.Read, new { disabled = "disabled" })</td>
                                <td>@Html.CheckBox("w", documentPrivilege.Write, new { disabled = "disabled" })</td>
                                <td>@Html.CheckBox("d", documentPrivilege.DownLoad, new { disabled = "disabled" })</td>
                                <td>
                                    <a class="btn-modifie-privilege" href="#" data-read="@documentPrivilege.Read" data-write="@documentPrivilege.Write" data-download="@documentPrivilege.DownLoad"
                                       data-email="@documentPrivilege.Author.Email" data-user-id="@documentPrivilege.Author.Id.ToString()">modifier</a>
                                </td>
                                <td><a class="btn-delete-privilege" href="#" data-user-id="@documentPrivilege.Author.Id.ToString()" data-email="@documentPrivilege.Author.Email">supprimer</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    }
    else
    {
        <p class="text-danger"> document introuvable</p>
    }


}
<input type="hidden" id="doc-type" value="document"/>
@Html.Hidden("path", ViewData["path"].ToString())

