@model int
@{
    ViewBag.Title = "_Upload";
    var currentFolderPath = Request.RawUrl.ToLower();
    if (!string.IsNullOrWhiteSpace(currentFolderPath))
    {
        //14

        if (currentFolderPath.Contains("folder/"))
        { currentFolderPath = currentFolderPath.Remove(0, 8); }
        else
        { currentFolderPath = currentFolderPath.Remove(0, 7); }
        currentFolderPath = currentFolderPath.Replace('/', '\\');
    }
}

<h2>_Upload</h2>
<div class="container">
    <div class="row">

        <div class="col">
            @using (Html.BeginForm("Upload", "Document", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div>
                    @Html.TextBox("document", "", new { type = "file", multiple = "multiple" ,@class="form-control" }) <br />
                    @Html.Hidden("currentFolderPath", currentFolderPath)
                    @Html.Hidden("userId", Model)
                    <input type="submit" value="Upload" class="btn btn-primary"/>

                    @if ((TempData["message"] as string) != null)
                    {
                        var message = TempData["message"] as string;
                        <p class="text-info fw-bold">@message  </p>

                    }
                </div>
            }
        </div>
        <div class="col">
            @using (Html.BeginForm("Upload", "Folder", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div>
                    @Html.TextBox("uploadeFolder", "", new { type = "file", webkitdirectory = "webkitdirectory", @class = "form-control" }) <br />
                    @Html.Hidden("currentFolderPath", currentFolderPath)
                    @Html.Hidden("userId", Model)
                    <input type="submit" value="Upload" class="btn btn-primary"/>

                    @if ((TempData["msgUpFolder"] as string) != null)
                    {
                        var message = TempData["msgUpFolder"] as string;
                        <p>@message  </p>

                    }
                </div>
            }
        </div>
    </div>
</div>
<script>

</script>