@model int
@{
    ViewBag.Title = "_Upload";
    var currentFolderPath = Request.RawUrl.ToLower();
    if (!string.IsNullOrWhiteSpace(currentFolderPath))
    {
        //14

        if (currentFolderPath.Contains("folder/"))
        { currentFolderPath = currentFolderPath.Remove(0, 8); }
        else
        { currentFolderPath = currentFolderPath.Remove(0, 7); }
        currentFolderPath = currentFolderPath.Replace('/', '\\');
    }

    string msgDocClass = "", msgDoc = "";
    if (TempData.ContainsKey("message"))
    {
        var (isValid,message) = ((bool,string))TempData["message"];
        msgDocClass = isValid ? "text-success" : "text-danger";
        msgDoc = message;
    }
    string msgFolderClass = "", msgFolder = "";
    if (TempData.ContainsKey("msgUpFolder"))
    {
        var (isValid, message) = ((bool, string))TempData["msgUpFolder"];
        msgFolderClass = isValid ? "text-success" : "text-danger";
        msgFolder = message;
    }
}

<h2>Telecharger</h2>
<div class="container">
    <div class="row">

        <div class="col">
            @using (Html.BeginForm("Upload", "Document", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div>
                    @Html.TextBox("document", "", new { type = "file" ,@class="form-control" }) <br />
                    @Html.Hidden("currentFolderPath", currentFolderPath)
                    @Html.Hidden("userId", Model)
                    <input type="submit" value="Upload" class="btn btn-primary"/>

                   
                    <p class="fw-bold @msgDocClass">@msgDoc  </p>

                </div>
            }
        </div>
        <div class="col">
            @using (Html.BeginForm("Upload", "Folder", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div>
                    @Html.TextBox("uploadeFolder", "", new { type = "file", webkitdirectory = "webkitdirectory", @class = "form-control" }) <br />
                    @Html.Hidden("currentFolderPath", currentFolderPath)
                    @Html.Hidden("userId", Model)
                    <input type="submit" value="Charger" class="btn btn-primary"/>

                     <p class="fw-bold @msgFolderClass">@msgFolder  </p>
                    
                </div>
            }
        </div>
    </div>
</div>
<script>

</script>