@using ProjetGED.Models
@{
    ViewBag.Title = "Shared";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shared</h2>



<h4>Shared Folders and Documents</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Icon</th>
            <th>Name</th>
            <th>Created At</th>
            <th>Version</th>
            <th>Gérer</th>
        </tr>
    </thead>

    <tbody>

        @if (ViewData["accessFolder"] != null)
        {
            foreach (var folder in ((List<Folder>)ViewData["accessFolder"]))
            {


                <tr class="table-secondary">
                    <td><i class="fa fa-folder-open-o"></i></td>
                    <td>@Html.ActionLink(folder.Name, "Shared", "Folder", new { folder = @folder.Name }, null)</td>
                    <td>@folder.CreatedAt.ToShortDateString()</td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-secondary disabled" data-bs-toggle="modal" data-bs-target="#">
                            <i class="fa fa-cogs"></i>
                        </button>
                    </td>
                </tr>


            }
        }


        @foreach (var document in ((List<Document>)ViewData["accessDocument"]))
        {
            <tr>
                <td><i class="fa fa-file text-primary"></i></td>
                <td>@Html.ActionLink(document.Name, "Display", "Document", new { docPath = @document.Path.Replace('\\', '/') }, null)</td>
                <td>@document.UploadedAt.ToShortDateString()</td>
                <td>@document.Version</td>
                <td>
                    <button type="button" class="btn btn-primary disabled" data-bs-toggle="modal" data-bs-target="#">
                        <i class="fa fa-cogs"></i>
                    </button>
                </td>
            </tr>

        }
    </tbody>
</table>





