@using ProjetGED.Models
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

<p>
    Hello @User.Identity.Name
</p>
@foreach (var folder in ((List<Folder>)ViewData["folders"]))
{
    @Html.Label(folder.Name)
    @Html.Label(folder.Path)
    @Html.Label(folder.CreatedAt.ToShortDateString())
}
<p>
    <a href="@Url.Action("logout", "auth")">Log Out</a>
</p>